<div class="container text-center my-5">
  <div class="row">
    <div class="col">
      <h1>Listado Personas!</h1>
      <button class="btn btn-primary" [disabled]="deshabilitar" (click)="agregarPersona()">Agregar Persona</button>
      <p *ngIf="mostrar; else noPersona">{{mensaje}} que es {{titulo}}</p>
      <ng-template #noPersona>
        <p>No se ha agregado ninguna persona</p>
      </ng-template>
      <app-persona></app-persona>
      <label>Titulo Persona</label>
      <input type="text" class="form-control" [(ngModel)]="titulo">{{titulo}}


      <h2>Como Mola</h2>
    </div>
  </div>
</div>
